<h3 id="notice"><%= notice %></h3>

<div class="row">

<% if can? :update, Product %>
  <p class="pull-right"><%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %>
  <%= link_to 'Product Index', products_path, class: "btn btn-info" %></p>
<% elsif can? :show, Product %>
  <p><%= link_to "Back", :back, class: "btn btn-info" %></p>
 <% end %>
</div>

  <div class="col-md-5 col-md-offset-1">
    <p>
      <%= image_tag @product.image.url, width: "300", alt: @product.name %>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <%= @product.name %> by  <%= @product.brand %>
    </p>

   
    <p>
      <%= @product.description %>
    </p>

    <p>
      <%= number_to_currency @product.price %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= @product.rating %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @product.category.name %>
    </p>

    <p>
      <%= form_tag add_to_cart_path do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= number_field_tag :quantity, nil, placeholder: "How many?" %>
        <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
      <% end %>
    </p>

