<h3 id="notice"><%= notice %></h3>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <p>
      <%= image_tag @product.image.url, width: "300", alt: @product.name %>
    </p>
  </div>
  <div class="col-md-6 lower-wording">
    <p>
      <%= @product.name %> by  <%= @product.brand %>
    </p>

   
    <p>
      <%= @product.description %>
    </p>

    <p>
      <%= number_to_currency @product.price %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= @product.rating %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @product.category.name %>
    </p>

  </div>

    <p class="pull-right"><%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %>
    <%= link_to 'Back', products_path, class: "btn btn-info" %></p>
</div>

